@use "@material/card/mdc-card";
@use "@material/typography/mdc-typography";
@use "sass:color";
@use "variables" as *;

html {
  font-size: 16px;
  --mdc-theme-surface: #{$md-sys-color-surface-variant};
  --mdc-shape-medium: 12px;
  --mdc-ripple-color: #{$md-sys-color-on-surface};
  --mdc-ripple-hover-opacity: 0.08;
  --mdc-typography-subtitle1-font-weight: 500;
  --mdc-typography-subtitle1-line-height: 24px;
}

body {
  max-width: 887px;
  margin: auto;
  padding: 4px 12px 12px;
  background-color: $md-sys-color-surface;
  color: var(--mdc-ripple-color);
}

.mdc-typography--headline2 {
  text-align: center;
  margin: 45.8px 4px;
}

.category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mdc-card {
  padding: 16px;
  margin: 4px;
  width: 100%;
  box-shadow: none;
}

.mdc-card__primary-action:first-child,
.mdc-card__primary-action:last-child {
  border-radius: 12px;
}

.img-wrapper {
  position: relative;
  margin: calc((50% - 32px) / 3) auto calc((50% + 16px) / 3);
  padding-top: calc((200% + 64px) / 3);
  width: calc((200% + 64px) / 3);
}

img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  object-fit: contain;
}

.mdc-typography--subtitle1,
.mdc-typography--body2 {
  margin: 0;
}

.mdc-typography--body2 {
  color: $md-sys-color-on-surface-variant;
}

.dark {
  display: none;
}

.mdc-card:hover,
.mdc-card:focus {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --mdc-theme-surface: #{color.mix(
      $md-sys-color-primary,
      $md-sys-color-surface-variant,
      5%
    )};
}

.mdc-card:active {
  box-shadow: none;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $md-sys-color-surface-dark;
    --mdc-theme-surface: #{$md-sys-color-surface-variant-dark};
    --mdc-ripple-color: #{$md-sys-color-on-surface-dark};
  }

  .mdc-typography--body2 {
    color: $md-sys-color-on-surface-variant-dark;
  }

  .mdc-card:hover,
  .mdc-card:focus {
    --mdc-theme-surface: #{color.mix(
        $md-sys-color-primary-dark,
        $md-sys-color-surface-variant-dark,
        5%
      )};
  }

  .light {
    display: none;
  }

  .dark {
    display: block;
  }

  .invert {
    filter: invert(1);
  }
}

@media (min-width: 320px) {
  .mdc-card {
    width: calc(50% - 8px);
  }
}

@media (min-width: 468px) {
  .mdc-card {
    width: calc(100% / 3 - 8px);
  }
}

@media (min-width: 616px) {
  .mdc-card {
    width: calc(25% - 8px);
  }
}

@media (min-width: 764px) {
  .mdc-card {
    width: calc(20% - 8px);
  }
}
